html {
    font-size: 16px;
}
.full {
    width: 100% !important;
    max-width: 100% !important;
}
.tna-header__navigation-item-link {
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 1rem !important;

}
.tna-header {
    z-index: 3;
    position: relative;
}
@media(min-width: 70em) {
    .tna-header__navigation-items {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        padding-left: 0;
        margin-top: 1.2rem;
    }
    .tna-header__navigation-item {
        display: block !important;
        border-bottom: 1px solid #555;
    }
    .tna-header__navigation-item:nth-child(3),.tna-header__navigation-item:nth-child(6) {
        border-bottom: none;
    }
    .tna-header__navigation-item a {
        padding: 0.15rem;
    }
}



.horizontal {
    margin: 0.5rem 0 0.5rem;
    padding: 0 1.5rem;
}
.horizontal li,.horizontal svg {
    display: inline-block !important;
    border-bottom: 0;
}
.horizontal svg {
    vertical-align: middle;
    padding-right: 0.25rem;
}
.horizontal li {
    display: inline-block !important;
    border-bottom: 0;
    margin: 0 2rem 0 0;
    border-left: 0;
}
.horizontal li a {
    color: #ccc;
    font-family: "Open Sans",sans-serif;
    font-size: 0.9rem;
    vertical-align: middle;
    text-decoration: none;
    font-weight: 400;
}
.horizontal li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #fff;
}
.tna-header .tna-logo {
    box-sizing: revert;
}
@media(min-width: 75em) {
    .tna-header__navigation {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        justify-content: flex-end;
    }
}
@media(min-width: 70em) {
    .tna-header__navigation {
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
}

@media (min-width: 75em) {
    .tna-header .tna-header__navigation-toggle {
        display: none !important;
    }
}
@media (min-width: 75em) {
    .tna-template--js-enabled .tna-header__navigation--open {
        display: flex;
    }
}
@media (min-width: 75em) {
    .tna-header__navigation-toggle.tna-column {
        padding-right: 1.5rem;
        padding-left: 0;
    }
}
@media (min-width: 48em) and (max-width: 70em) {
    .tna-header__contents {
        flex-direction: column;
    }
    .tna-header__logo {
        align-self: left;
    }
}
@media (min-width: 70em) {
    .tna-header .tna-logo {
        padding-top: 2.15rem;
        width: 6.75rem;
        height: 6.75rem;
        display: inline-block;
    }
}

.tna-phase-banner {
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem;
}

.tna-phase-banner--beta {
    background: #2A2A2A;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 4;
}
.tna-phase-banner__phase {
    color: #111;

}
@media (min-width: 48em) {
    .tna-header__navigation-item-link {
        font-weight: 400;
    }
}
@media (min-width: 48em) and (max-width: 70rem) {
    .tna-header__navigation {
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0;
    }
}
@media (min-width: 48em) and (max-width: 70rem) {
    .tna-header__navigation-items {
        width: 100%;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        padding-left: 0;
        margin-top: 0.5rem;
    }
    .horizontal {
        padding: 0;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .horizontal li {
        display: inline-block !important;
        border: 0;
        margin: 1rem 0 1rem 1rem;
    }
    .tna-header__navigation-item {
        display: block !important;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        margin-top: -1px;
    }
    .tna-header__navigation-item a {
        padding: 0.15rem;
    }
}

@media (min-width: 70rem) {
    .horizontal li, horizontal svg {
        margin: 0 0 0 1rem;
    }
    .horizontal {
        padding: 0;
    }
}

.tna-header__navigation-item-link:hover {
    background: transparent !important;
    color: inherit !important;

    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #fff;
}

.tna-sub-menu {
    background: #fc0;
    padding: 2rem 0;
    display: none;
    position: relative;
    z-index: 2;
}
.tna-sub-menu__list-container {
    width: 100%;
    border-top: 2px dotted rgba(0,0,0,0.2);
}
.tna-sub-menu p {
    font-size: 1rem;
}
.tna-sub-menu ul {
    font-family: supria-sans-condensed, sans-serif;
    list-style-type: none;
    padding: 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin-top: 0.75rem;
}
@media (min-width: 48rem) {
    .tna-sub-menu ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media (min-width: 70rem) {
    .tna-sub-menu ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
.tna-sub-menu a {
     color: #000;
 }
.tna-sub-menu .tna-column {
    padding-left: 0;
}
.tna-sub-menu h2 {
    margin-top: -40px;
}
h1, h2 {
    font-family: supria-sans-condensed, sans-serif;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
p {
    font-family: 'Open Sans', sans-serif;
}
.selected {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: #ffcc00;
}

.close {
    width: 100%;
    text-align: right;
}
.close button {
    background: rgba(0,0,0,0.1);
    border: 0;
    font-size: 1.5rem;
    padding: 0.25rem 0.25rem;
}
button:hover {
    cursor: pointer;
    background: rgba(0,0,0,1);
    color: #fff;
}
.tna-header__logo {
    padding: 1.75rem 0;
}
.tna-header--black {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.88));
}
.tna-phase-banner__phase {
    display: inline-block;
    background: transparent;
    color: #ffcc00;
    font-size: 1.2rem;
    line-height: 1rem;
    font-family: "supria-sans-condensed", Helvetica, Arial, sans-serif;
}
.tna-phase-banner__message {
    display: inline-block;
    font-size: 1.1rem;
    font-family: "supria-sans-condensed", Helvetica, Arial, sans-serif;
    font-weight: 100;
    line-height: 1rem;
    color: #fff !important;
}
@media (min-width: 48em) {
    .tna-phase-banner__message {
        font-size: 1.2rem;
    }
}

.image-1 {
    background: url("https://beta.nationalarchives.gov.uk/media/images/Shapurji-Saklatvala.4700e26b.fill-1440x500-c100.jpg") no-repeat;
    background-size: cover;
    height: 650px;
    z-index: 1;
}
.image-2 {
    background: url("https://beta.nationalarchives.gov.uk/media/images/louise-bennett-featured-image.2e16d0ba.fill-800x450.jpg") no-repeat;
    background-size: cover;
    height: 375px;
}

@media (max-width: 48em) {
    .tna-header__navigation-items {
        background-color: #262626;
        color: #fff;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    .tna-header__navigation-item {
        border-color: #999;
    }
    .tna-header__navigation-item-link {
        background: url("../images/plus.svg") no-repeat 98% center;
    }
    .tna-header__navigation-item-link:hover {
        background: url("../images/plus.svg") no-repeat 98% center !important;
    }
}
.tna-cookie-banner {
    background: #fc0;
    padding: 1rem 0;
    font-family: 'Open Sans', sans-serif;
}
.tna-cookie-banner p {
    margin: 0 0 0.75rem 0;
}
.tna-cookie-banner__button-group {
    padding: 1rem 0;
}
.tna-cookie-banner__button {
    background: #2A2A2A;
    border: 0;
    color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    margin: 0 1.5rem 0 0;
    font-family: 'Open Sans', sans-serif;
}
.tna-cookie-banner__link {
    color: #000;
    font-weight: bold;
}
.tna-cookie-banner__link:visited {
    color: #000;
}
.mobile-menu {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    background-color: #262626;
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
.mobile-menu li {
    margin: 0;
    display: block;
    border-bottom: 1px solid;
    border-color: #ccc;
    background: #444;
    color: #666;
}
.mobile-menu a {
    font-family: "Roboto", Helvetica, Arial, sans-serif !important;
    font-weight: 400;
    font-size: 1rem !important;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    display: inline-block;
    position: relative;
    line-height: 1.6;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 48rem) {
    .mobile-menu {
        display: none;
    }
}

.open {
    display: block;
}

@media (max-width: 48rem) {
    .selected, .selected:hover {
        background: url("../images/dash.svg") no-repeat 98% center !important;
    }
}
